node_modules
.idea
tmp
admin/i18n/flat.txt
admin/i18n/*/flat.txt
iob_npm.done
nbproject
src-admin/package-lock.json
src-admin/node_modules
src-admin/build
src-admin/.__mf__temp


# ioBroker dev-server
.dev-server/
